@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");

body,
html,
h1 {
  margin: 0;
  background-color: black;
}

body {
  font-family: "Ranchers", cursive;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

p {
  font-size: 22px;
}

canvas {
  width: 500px;
  height: 500px;
  border: white solid 2px;
}

.canvas {
  display: flex;
  justify-content: center;
}
